
<div id="side-bar" class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <div class="sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/job-code-management" routerLinkActive="active">
              Job code Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/machine-management" routerLinkActive="active">
              Machine Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/timecard-approval" routerLinkActive="active">
              Timecard Approval
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
