<div class="content">
  <h2 class="title">Job Code Management</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Job Code</th>
        <th>Description</th>
        <th>Hourly Rate</th>
        <th>Max Hours per day</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.siteCode}}</td>
        <td>{{item.contractorName}}</td>
        <td>${{item.totalHours}}/Hr.</td>
        <td>{{item.totalAmount}} Hr.</td>
        <td><a href="">Edit</a></td>
        <td><a href="">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
