/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~bootstrap/dist/css/bootstrap.css';

body {
  width: 100%;
  height: 100%;
}

.title {
  background-color: grey;
  margin-bottom: 50px;
}

.table td, .table th {
  border-left: 2px solid white;
}

.table tbody tr:nth-child(even) {
  background-color: darkgray;
}

.table tbody tr:nth-child(odd) {
  background-color: lightgray;
}

thead {
  background-color: black;
  color: white;
}
